## Go to https://www.nobroker.in/ webiste 
Scrap the data of flats  in a list that are for sale 
City: -Mumbai, Chennai, Banglore, Delhi
bhk type: 2 and 3

for Reference:https://youtu.be/hzDP26o41UA

In [1]:
# Installing liabraries

import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

#### Taken City: -Mumbai, Chennai, Banglore, Delhi link from no broker website and added in list of url

In [2]:
url = ["https://www.nobroker.in/property/sale/mumbai/Mumbai/?searchParam=W3sibGF0IjoxOS4xMjMyNjI2MTEzMzc1LCJsb24iOjcyLjg3NzE3MDcyNjA1MzgsInBsYWNlSWQiOiJDaElKd2UxRVpqREc1enNSYVl4a2pZX3RwRjAiLCJwbGFjZU5hbWUiOiJNdW1iYWkiLCJzaG93TWFwIjpmYWxzZX1d&propType=AP&type=BHK2,BHK3","https://www.nobroker.in/property/sale/bangalore/Bangalore/?searchParam=W3sibGF0IjoxMi45Njk5MzM0NDAzNjgxLCJsb24iOjc3LjU5ODE3NzAzMjg1MjIsInBsYWNlSWQiOiJDaElKYlU2MHlYQVdyanNSNEU5LVVlakQzX2ciLCJwbGFjZU5hbWUiOiJCYW5nYWxvcmUiLCJzaG93TWFwIjpmYWxzZX1d&propType=AP&type=BHK2,BHK3","https://www.nobroker.in/property/sale/delhi/Delhi/?searchParam=W3sibGF0IjoyOC42NTc5NjcwMDA5MzM4LCJsb24iOjc3LjA5NzM4Mzg3NTQ4NywicGxhY2VJZCI6IkNoSUpMX1BfQ1hNRURUa1J3MFpkRy0wR1Z2dyIsInBsYWNlTmFtZSI6IkRlbGhpIiwic2hvd01hcCI6ZmFsc2V9XQ==&propType=AP&type=BHK2,BHK3","https://www.nobroker.in/property/sale/chennai/Chennai/?searchParam=W3sibGF0IjoxMy4wNDM3NjEyODI5MTkyLCJsb24iOjgwLjIwMDA2ODUxNjk2OTMsInBsYWNlSWQiOiJDaElKWVROOVQtcGxVam9STTlSamFBdW5ZVzQiLCJwbGFjZU5hbWUiOiJDaGVubmFpIiwic2hvd01hcCI6ZmFsc2V9XQ==&propType=AP&type=BHK2,BHK3"]

#### Automated the webscrapping for each city url using for loop

In [3]:
demo_name=[]
demo_rate=[]
demo_emi=[]
demo_area=[]
for i in url:
  res = requests.get(url=i)
  html_content = res.content
  soup = BeautifulSoup(html_content,'html.parser')
  locname = soup.find_all('h2') # location of name
  locrate = soup.find_all('div',class_='font-semi-bold heading-6') # location of price,emi,area

  
  #Name
  Name=[]                       
  for j in locname:
    Name.append(j.a.text)      
  demo_name.append(Name)

  #Rate
  rate=[]
  lorate=[]
  for j in locrate:
    rate.append(j.text)
  for k in range(0,len(rate),3):
    lorate.append(rate[k])
  demo_rate.append(lorate)
    
  #Area
  area=[]
  for j in range(2,len(rate),3):
    area.append(rate[j])
  demo_area.append(area)

  #EMI
  EMI=[]
  for j in range(1,len(rate),3):
    EMI.append(rate[j])
  demo_emi.append(EMI)

In [4]:
len(demo_name)
len(demo_rate)
len(demo_emi)
len(demo_area)

4

In [5]:
#BHK
title = []
for i in demo_name:
    for j in i:
        title.append(j)
# print(title)


# Price
Price=[]
for i in demo_rate:
    for j in i:
        Price.append(j)
# print(Price)


# EMI
emi = []
for i in demo_emi:
    for j in i:
        emi.append(j)
# print(emi)


# Area
Area=[]
for i in demo_area:
    for j in i:
        Area.append(j)
# print(Area)

In [6]:
df=pd.DataFrame({'Flat_Title':title,'EMI':emi,'Area':Area,'Price':Price})

In [ ]:
df

,Flat_Title,EMI,Area,Price
0,3 BHK Apartment In The Wadhwa Viceroy Park Fo...,₹1.55 Lacs/Month,"1,510 sqft",₹2.7 Crores
1,3 BHK Flat In Runwal Pinnacle For Sale In Mu...,₹1.39 Lacs/Month,"1,113 sqft",₹2.42 Crores
2,3 BHK Flat In Alka Apartment For Sale In An...,₹1.66 Lacs/Month,"1,200 sqft",₹2.9 Crores
3,3 BHK Flat In Rita Apartments For Sale In S...,"₹88,837/Month","1,169 sqft",₹1.55 Crores
4,3 BHK Apartment In Monarch Gardens For Sale ...,₹2.24 Lacs/Month,"1,500 sqft",₹3.9 Crores
...,...,...,...,...
95,3 BHK Apartment In Npl Redmond Square For Sal...,"₹44,991/Month","1,495 sqft",₹78.5 Lacs
96,3 BHK Flat In The Royal Chariot For Sale In ...,"₹25,791/Month","1,000 sqft",₹45 Lacs
97,3 BHK Flat In Swathi Flats For Sale In West ...,"₹40,120/Month",990 sqft,₹70 Lacs
98,3 BHK Flat In Sai Karthik For Sale In Pallik...,"₹38,973/Month","1,323 sqft",₹68 Lacs
99,3 BHK Apartment In Mm Enclave For Sale In K...,"₹97,434/Month","1,250 sqft",₹1.7 Crores